<!DOCTYPE html>
<html>
<head>
    <title> 롤 챔피언 추천 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script>
        const region = "{{ region }}";
        const nickname = "{{ nickname }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body class="body">
    <div class="search">
        <form id = "search_form" class="search_form">
            <div class="region">
                <small class="search_upper">지역</small>
                <small id="region" style="color: white;" class="search_lower">ASIA</small>
            </div>
            <div class="nickname">
                <label class="search_upper">검색</label>
                <input id="nickname" class="search_lower" type="text" placeholder="닉네임#태그">
            </div>
            <button class="analyze" type="submit">
                <img src="{{ url_for('static', filename='img/search.png') }}">
            </button>
        </form>
    </div>
    <div class="analysis_wrapper">
        <div id="features" class="analysis">
            분석중
        </div>
    </div>
    <div class="champion_container">
        <div class="position_wrapper">
            <img id="select_all" src="https://s-lol-web.op.gg/images/icon/icon-position-all-wh.svg" onclick="select('all')">
            <img id="select_top" src="https://s-lol-web.op.gg/images/icon/icon-position-top-dark.svg" onclick="select('top')">
            <img id="select_jng" src="https://s-lol-web.op.gg/images/icon/icon-position-jng-dark.svg" onclick="select('jng')">
            <img id="select_mid" src="https://s-lol-web.op.gg/images/icon/icon-position-mid-dark.svg" onclick="select('mid')">
            <img id="select_bot" src="https://s-lol-web.op.gg/images/icon/icon-position-bot-dark.svg" onclick="select('bot')">
            <img id="select_sup" src="https://s-lol-web.op.gg/images/icon/icon-position-sup-dark.svg" onclick="select('sup')">
        </div>
        <div class="champion_wrapper">
            <ul id="recommend">
            </ul>
        </div>
    </div>
</body>
</html>